[submodule "bookservice"]
	path = bookservice
	url = git@github.com:AlessandroBartsch/bookservice.git
[submodule "cambioservice"]
	path = cambioservice
	url = git@github.com:AlessandroBartsch/cambioservice.git
[submodule "cloud-config"]
	path = cloud-config
	url = git@github.com:AlessandroBartsch/cloud-config.git
[submodule "cloud-config-service"]
	path = cloud-config-service
	url = git@github.com:AlessandroBartsch/cloud-config-service.git
[submodule "bugui"]
	path = bugui
	url = git@github.com:AlessandroBartsch/bugui.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:AlessandroBartsch/api-gateway.git
[submodule "naming-server"]
	path = naming-server
	url = git@github.com:AlessandroBartsch/naming-server.git
